SEPOLIA_RPC_URL=your_sepole_rpc_node_url
PRIVATE_KEY=your_wallet_private_key_with_ETH_sepolia_testnet_tokens
ETHERSCAN_API_KEY=your_ethersan_API_key
WALLET_ADDRESS=your_wallet_address


# URLs
SEPOLIA_RPC_URL=your_sepole_rpc_node_url

# Private Keys
PRIVATE_KEY=your_wallet_private_key_with_ETH_sepolia_testnet_tokens
ETHERSCAN_API_KEY=your_ethersan_API_key
SECOND_PRIVATE_KEY=your_second_wallet_private_key_with_ETH_sepolia_testnet_tokens

# Address Wallets
WALLET_ADDRESS=your_wallet_address
WALLET_RECEIVER=your_wallet_receiver_address

# Address Tokens/Contracts
TOKEN_ADDRESS=
MULTISIG_ADDRESS=
CONTRACT_ADDRESS=

# Bonus TX_ID saved variable
TX_ID=